.btn {
  display: inline-block;
  background-color: hotpink;
  color: blueviolet;
  /* padding: 75px 150px; */
  text-decoration: none;
}
.btn:hover {
  background-color: darkblue;
  color: white;
}
